@import "reset.css";

/*variables*/
@import "variables.css";

/*component*/
@import "components/status-bar.css";
@import "components/nav-bar.css";
@import "components/screen-header.css";
@import "components/user-component.css";
@import "components/icon-row.css";

/*screens*/
@import "screens/login.css";
@import "screens/friend.css";
@import "screens/find.css";

@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600&display=swap");

body {
  width: 100vw;
  height: 800px;
  font-family: "Rubik", sans-serif;
  background-color: rgb(255, 255, 255);
}

.main-layer {
  padding: 0px 30px;
  margin-right: 10px;
}
