.find-divider {
  margin-top: 50px;
  padding: 10px 0px;
  border-top: 2px solid var(--sub-color);
  border-bottom: 2px solid var(--sub-color);
  color: var(--main-color);
  padding-right: 10px;
}

.find-divider h1 {
  color: var(--middle-color);
  padding: 100px 0px;
  text-align: center;
}

.open-chat__header {
  color: var(--main-color);
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}
.open-chat__header i {
  margin: 0px 10px;
}

.open-chat_column {
  display: flex;
  height: 100px;
  justify-content: space-between;
  align-items: center;
}

.open-chat__info {
  display: flex;
  height: 70px;
  flex-direction: column;
  justify-content: space-between;
}
.open-chat__info > h1 {
  color: var(--high-color);
  font-size: 20px;
  margin-bottom: 5px;
}
.open-chat__info > span {
  color: var(--main-color);
  margin-bottom: 5px;
}
.open-chat__info--member {
  display: flex;
  align-items: center;
  justify-content: center;
}
.open-chat__info--member img {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 5px;
}
.open-chat__info--member span {
  color: var(--middle-color);
}
.open-chat__divider {
  width: 2px;
  height: 80%;
  margin: 0px 10px;
  background-color: var(--middle-color);
}
#active {
  color: rgb(255, 59, 59);
}
.open-chat__img {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
}
.open-chat__img img {
  height: 80px;
  width: 80px;
  border-radius: 20px;
}

.open-chat__heart {
  padding: 7px 8px;
  font-size: 12px;
  background-color: rgba(0, 0, 0, 0.623);
  color: white;
  border-radius: 20px;
  display: flex;
  align-items: center;
  position: absolute;
  top: 50px;
  left: 20px;
}

.open-chat__heart i {
  margin-right: 3px;
}

.open-chat__heart:hover i {
  color: rgb(255, 59, 59);
}
