#friends-display-link {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fafafa;
  padding: 15px 0px;
  color: #a7a7a7;
}

#friends-display-link i {
  color: #c0c0c0;
}

.fa-info-circle {
  margin-right: 5px;
}

.fa-chevron-right {
  margin-left: 5px;
}

.friends-screen {
  padding: 0px var(--horizontal-space);
  margin-top: 10px;
}

.friends-screen__channel {
  margin-top: 15px;
  border-top: #c0c0c0 1px solid;
}
.friends-screen__channel--header {
  display: flex;
  justify-content: space-between;
  padding-top: 15px;
  padding-bottom: 20px;
  color: #c0c0c0;
}
