.bedge {
  background-color: rgb(74, 63, 173);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: white;
  font-weight: 600;
}

.nav__btn:hover .bedge {
  animation: bedgemove 0.8s ease-in-out infinite;
}

.fa-cog:hover .bedge {
  animation: bedgemove 0.8s ease-in-out infinite;
}
.user-component:hover .bedge {
  animation: bedgemove 0.8s ease-in-out infinite;
}
