.chat-header {
  margin-top: 30px;
  padding: 20px 20px;
  display: flex;
  justify-content: space-between;
  font-size: 30px;
  color: var(--high-color);
  width: 100%;
  box-sizing: border-box;
}
.chat-header__left {
  width: 33%;
}
.chat-header__middle {
  width: 33%;
  font-weight: 500;
  display: flex;
  justify-content: center;
}
.chat-header__right {
  width: 33%;
  display: flex;
  justify-content: flex-end;
}
.chat-header__right i:last-child {
  margin-left: 10px;
}
