.icon-row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  color: var(--high-color);
}

.icon-row__component {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 32px;
  width: 18%;
}
.icon-row__component span {
  margin-top: 20px;
  font-size: 15px;
  text-align: center;
}
