.nav {
  position: fixed;
  bottom: 0px;
  width: 100%;
  background-color: var(--low-color);
  padding: 10px 50px;
  box-sizing: border-box;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
}
.nav__list {
  display: flex;
  justify-content: space-between;
}

.nav__link {
  color: var(--main-color);
}
.nav__btn {
  position: relative;
  padding: 10px;
  border: 0px solid var(--main-color);
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: var(--low-color);
}

.nav__notification {
  width: 26px;
  height: 26px;
  position: absolute;
  left: 35px;
  bottom: 30px;
}
.nav__notification--ellipsis {
  width: 9px;
  height: 9px;
  position: absolute;
  left: 35px;
  bottom: 35px;
}
.i__live {
  background-color: white;
}
