.screen-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--horizontal-space);
}

.screen-header__title {
  font-size: 28px;
  font-weight: 600;
}

.screen-header__icons span {
  margin-left: 20px;
}

.screen-header__icons:last-child {
  position: relative;
}
.screen-header__notification {
  width: 5px;
  height: 5px;
  position: absolute;
  top: -5px;
  right: -5.5px;
}
