.screen-header {
  padding: 0px 30px;
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  color: var(--main-color);
}

.screen-header__title {
  font-size: 30px;
  font-weight: 500;
}
.screen-header__icon i {
  font-size: 25px;
  margin-left: 10px;
}
